@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --beige: #DDD0C8;
  --dark-grey: #323232;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--beige);
  color: var(--dark-grey);
  font-family: "Montserrat", sans-serif;
}